**/*.csv
**/*.mhl
**/*.xml
clogrc/core
clogrc/tmp/*
!clogrc/tmp/readme.md
archive/
.DS_Store
tmp/*



## IO
!opentsg-io/csvsave/tests/*.csv





## Ignore generated outputs
# **/*.png
#**/*.json
**/*.dpx
**/*.txt
**/*.gif
lint*.xml

clogrc/core

!clogrc/lint.sh

!.github/*.json

## Return test files here
!opentsg-core/config/**/*.json
!opentsg-core/config/testdata/apitest.png
!opentsg-core/config/core/testdata/apitest.png

!opentsg-core/widgethandler/**/*.json
!opentsg-core/widgethandler/**/*.png


!opentsg-core/gridgen/**/*.png
!opentsg-core/gridgen/**/*.json

!opentsg-core/canvaswidget/**/*.json

!opentsg-core/action/testdata/*.json
!opentsg-core/action/testdata/create/*.json
!opentsg-core/action/testdata/generate/*.json
!opentsg-core/action/testdata/results/*.json
!opentsg-core/_docs/_images/houseEbu.png

!opentsg-core/colour/testdata/draw/*.png

#Return our schema
!opentsg-core/config/jsonschema/baseschema.json
!opentsg-core/config/jsonschema/basefacschema.json
!opentsg-core/config/jsonschema/includeschema.json

!opentsg-core/canvaswidget/jsonschema/baseschema.json
!opentsg-core/canvaswidget/jsonschema/basefacschema.json
!opentsg-core/canvaswidget/jsonschema/includeschema.json



main.go
opentsg-modules

megalinter-reports/